{% extends 'layout.html.twig' %}

{% block content %}

    {% block nav %} 
        <nav class="itemnav"> {{ item.title }} </nav>
    {% endblock %}

    <h1 id="itemInfo">
        <div>{{item.date}}</div>
        <div id="itemInfoId">AD id : {{item.id}}</div>
    </h1>

    <div><img src='..\..\public\assets\images\image1.png'>

{% endblock %}
