{% extends 'layout.html.twig' %}

{% block content %}

{% block nav %}
    {{ parent()}}
{% endblock %}

{% block searchBar %}
<form method="GET" action="">
<div id ="searchbarContainer">
    <div id = "searchInputContainer">
        <input type="text" name="keywords" placeholder="Type your search...">
        <div id ="separationBar">|</div>
        <button id="searchFilterButton"><img id ="searchFilterImage" src="assets/images/icon_filters.png"></button>
    </div>
    <button name="submit" id = "search">SEARCH</button>
</div>
</form>

{% endblock %}

    <p>Liste des pages : </p>

<ul>
    {% for post in postsList %}

            <li><a href="/post/show?id={{ post.id }}"> - {{ post.id }} {{ post.title }}</a></li>

        {% else %}

            <li>Nothing to display</li>

    {% endfor %}
</ul>
{% endblock %}
