{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Page test Cyclaid</h1>

    <p>Liste des pages : </p>

    {% for post in PostsList %}

            <li><a href="/Post/show?id={{ post.id }}"> - {{ post.id }} {{ post.title }}</a></li>

        {% else %}

            <li>Nothing to display</li>

    {% endfor %}

{% endblock %}
