{% extends 'layout.html.twig' %}

{% block content %}

{% block nav %}
    {{ parent()}}
{% endblock %}

    <p>Liste des pages : </p>

<ul>
    {% for post in postsList %}

            <li><a href="/post/show?id={{ post.id }}"> - {{ post.id }} {{ post.title }}</a></li>

        {% else %}

            <li>Nothing to display</li>

    {% endfor %}
</ul>

{% endblock %}
