{% extends 'layout.html.twig' %}

{% block content %}

    {% block nav %} 
        <nav class="postnav"> {{ post.title }} </nav>
    {% endblock %}

    <h1 id="postInfo">
        <div>{{post.creation_date}}</div>
        <div id="postInfoId">AD id : {{post.id}}</div>
    </h1>