{% block nav %}

<link rel="stylesheet" href="/assets/css/navbar.css">

    <nav>
            <ul class = "navbar">
                <li class = "navImage">
                    <a href="/"><img class = "navButtons" src="/assets/images/icon_home.png"></a>
                </li>
                <li class = "navImage">
                    <a href="/post/index"><img class = "navButtons" src="/assets/images/icon_search.png"></a>
                </li>
                <li id = "navPostButton">
                    <a id="navPost" href="/post/add">POST YOUR PART</a>
                </li>
                <li class = "navImage">
                    <a href="#"><img class = "navButtons" src="/assets/images/icon_tuto.png"></a>
                </li>
                <li class = "navImage">
                    <a href="#"><img class = "navButtons" src="/assets/images/icon_user_profile.png"></a>
                </li>
            </ul>
    </nav>
{% endblock %}