{% block searchBar %}

<link rel="stylesheet" href="/assets/css/searchbar.css">

<form id ="searchbarContainer" method="get">
    <div id = "searchInputContainer">
        <input type="search" name="searchKeywords" placeholder="Type your search...">
        <div id ="separationBar">|</div>
        <button id="searchFilterButton"><img id ="searchFilterImage" src="assets/images/icon_filters.png"></button>
    </div>
    <button type="submit" id = "search">SEARCH</button>
</form>

{% endblock %}