{% block searchBar %}

<link rel="stylesheet" href="/assets/css/searchbar.css">

<div id ="searchbarContainer">
    <div id = "searchInputContainer">
        <input placeholder="Type your search...">
        <div id ="separationBar">|</div>
        <button id="searchFilterButton"><img id ="searchFilterImage" src="/../assets/images/icon_filters.png"></button>
    </div>
    <button id = "search">SEARCH</button>
</div>

{% endblock %}