{% extends 'layout.html.twig' %}


{% block content %}

{% block nav %}

{% include 'navbar.html.twig' %}
   
{% endblock %}

        <h1 class="title">Cycl'aid</h1>

{% block searchBar %}

{% include 'searchbar.html.twig' %}
    
{% endblock %}

<link rel="stylesheet" href="/assets/css/categoryindex.css">

<div id = "categoriesContainer">

{% for category in categories %}

    <a class = "categoryContainer" href="/../category/results?category={{ category.id }}">
        <div id = "categoryLabel" style="background-image: url('/assets/images/categories/{{category.label}}.jfif')">{{category.label}}</div>
    </a>

{% endfor %}

</div>

<div id= "footerBlank"></div>

<div>
    <a href="/post/add" id="ctaPost">POST YOUR PART</a>
</div>
<footer id="footer"></footer>

{% endblock %}
