<nav class="navbar fixed-top bg-body-tertiary" id="navbar" style="background-color: #152905">GIVE TO THE COMMUNITY</nav>

<div class="row">
    <div class="title" id="logo" style="color: #133352">
        <h1>Cycl'aid</h1>
    </div>
    <div class="col-md-4 col-md-offset-6">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <label for="title"></label>
                <input type="text" name="title" id="title" placeholder="TITLE" required/>
            </div>
            <div>
                <label for="reference"></label>
                <input type="text" name="reference" id="reference" placeholder="PART REFERENCE" required/>
            </div>
            <div class="select" id="select">
                <div>
                    <label for="category"></label>
                    <select name="category" id="category" required>
                        <option value="">CATEGORY</option>
                        <option value="Accessories">Accessories</option>
                        <option value="Brakes">Brakes</option>
                        <option value="Cables and sheaths">Cables and sheaths</option>
                        <option value="Frames">Frames</option>
                        <option value="Saddles">Saddles</option>
                        <option value="Tools">Tools</option>
                        <option value="Fork and steering">Fork and steering</option>
                        <option value="Wheels and tires">Wheels and tires</option>
                        <option value="Transmission">Transmission</option>
                    </select>    
                </div>
                <div>
                    <label for="wear"></label>
                    <select name="wear" id="wear" required>
                        <option value="">WEAR STATE</option>
                        <option value="New">New</option>
                        <option value="Good">Good</option>
                        <option value="Used">Used</option>
                        <option value="to fix">To fix</option>
                    </select>
                </div>
                <div>
                    <label for="brand"></label>
                    <select name="brand" id="brand" required>
                        <option value="">BRAND</option>
                        <option value="Shimano">Shimano</option>
                        <option value="Hutchinson">Hutchinson</option>
                        <option value="Brooks">Brooks</option>
                        <option value="Continental">Continental</option>
                        <option value="Schwalbe">Schwalbe</option>
                        <option value="Magura">Magura</option>
                        <option value="Brompton">Brompton</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="location"></label>
                    <select name="location" id="location" required>
                        <option value="">LOCATION</option>
                        <option value="Auvergne">Auvergne</option>
                        <option value="Rhône-Alpes">Rhône-Alpes</option>
                        <option value="Bourgogne-">Bourgogne</option>
                        <option value="Franche-Comté">Franche-Comté</option>
                        <option value="Bretagne">Bretagne</option>
                        <option value="Centre-">Centre</option>
                        <option value="Val de Loire">Val de Loire</option>
                        <option value="Corse">Corse</option>
                        <option value="Grand Est">Grand Est</option>
                        <option value="Hauts-de-France">Hauts-de-France</option>
                        <option value="Ile-de-France">Ile-de-France</option>
                        <option value="Normandie">Normandie</option>
                        <option value="Nouvelle-Acquitaine">Nouvelle-Acquitaine</option>
                        <option value="Occitanie">Occitanie</option>
                        <option value="Pays de la Loire">Pays de la Loire</option>
                        <option value="Provence">Provence</option>
                        <option value="Alpes">Alpes</option>
                        <option value="Côte d'Azur">Côte d'Azur</option>
                        <option value="Undefined">Undefined</option>
                    </select>
                </div>
            </div>
                <label for="description"></label>
                <textarea name="description" id="description" placeholder="DESCRIPTION" required></textarea>
            </div>
            <div class="alert alert-danger" role="alert" id="alert">
                {% for error in errors %}
                    {{ error }}
                {% endfor %}
            </div>
                <label for="file" id="labelFile">
                <div id="textFile"><img src="assets/images/add_picture_icon.png" alt="add_icon" id="addIcon"/></div>
                <input type="file" name="file" id="file" multiple required/>
                </label>
            </div>
            <div>
                <input type="submit" id="give" value="GIVE !"/>
            </div>
        </form>
    </div>
</div>
<footer id="footer" style="background-color: #152905"></footer>
