section#connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#connection button {
    margin: 5rem 0 5rem 0;
    width: 5rem;
    height: 2rem;

    border: 1px solid var(--border-color);
    border-radius: var(--button-primary-corner-radius);

    box-shadow: 1px 1px 5px var(--box-shadow);

    background-color: var(--background-color-cta);

    color: var(--font-text-color-cta);
    font-size: 1.2rem;
    text-shadow: 0.2px 0.2px 1px var(--text-shadow);
}

section#connection hr {
    border: 1px solid var(--border-color);
    width: 75%;
}

section#connection button a {
    font-family: PostNoBillsColomboBold;
    text-decoration: none;
    text-align: center;
    color: var(--font-text-color-cta);
}
