/* Commom Navbar */

.navbar{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
  
    font-weight: bold;
    list-style-type: none;

    align-items: center;
    text-align: center;
    justify-content: space-around;
  
    background-color: var(--header-footer-color);
    color: var(--font-navbar-color);
  
    height: 9vh;
    width: 100%;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
      /* Add font-family once it is required */
  }
  
  .navImage{
    width: 80%;
    height: 80%;
    align-items: center;
    text-align: center;
  }
  
  .navbuttons{
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 4vh;
    color: var(--font-navbar-color);
    background-color: var(--header-footer-color);
  }
  
  #navPost{
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-justify: center;
    color: var(--font-navbar-color);
    background-color: var(--stroke-primary-color);
    font-size: 1.6vh;
    border-radius: 5%;

    align-items: center;
    text-align: center;
  }
  
  /* part/view Header */

  .postnav{
      display: flex;
      height: 3.483rem;
      
      font-weight: bold;
  
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  
  #postInfo{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      color: var(--stroke-secondary-color);
      font-size: 0.5rem;
  }
  
  #postInfoId{
  text-align: right;
  }
  