/* Commom Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 0;
  
    font-weight: bold;
    list-style-type: none;

    align-items: center;
    text-align: center;
    justify-content: space-around;
  
    background-color: var(--header-footer-color);
    color: var(--font-navbar-color);
    height: 8vh;
    width: 100%;
  
    text-shadow: 0px 4px 4px var(--text-shadow);
    box-shadow: 0px 4px 4px var(--box-shadow);
  }
  
  .navImage{
    width: 80%;
    align-items: center;
    text-align: center;
  }
  
  .navButtons{
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    width: 4vh;
    color: var(--font-navbar-color);
    background-color: var(--header-footer-color);
  }

  #navPostButton{
    width: 50vh;
  }
  
  #navPost{
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    justify-content: center;
    text-justify: center;
    align-items: center;
    text-align: center;

    color: var(--font-navbar-color);
    background-color: var(--stroke-primary-color);
    font-family: PostNoBillsColomboExtraBold;
    font-size: 2.1vh;
    border-radius: var(--button-secondary-corner-radius);
    height: 6.9vh; 
  }

  .postnav{
      display: flex;
      height: 3.483rem;
      
      font-weight: bold;
  
      align-items: center;
      text-align: center;
      justify-content: center;
  }
  
  #postInfo{
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      color: var(--stroke-secondary-color);
      font-size: 0.5rem;
  }
  
  #postInfoId{
      text-align: right;
  }
  