.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: 20rem;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #1C3606;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 20rem;
  }
  
  #get_part {
    display: flex;
    width: 189px;
    height: 27px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #208A24;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  
  #description {
    width: 276px;
    height: 104px;
    flex-shrink: 0;
    fill: #D9D9D9;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #000;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  .carousel-indicators {
    display: none;
  }
  
  #id_post {
    width: 74px;
    height: 13px;
    flex-shrink: 0;
    color: #4D5737;
    text-align: center;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  
  #postInfo {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--stroke-secondary-color);
    font-size: 0.5rem;
  }
  
  #postInfoId {
    text-align: right;
  }
  
  #id_post {
    width: 74px;
    height: 13px;
    flex-shrink: 0;
    color: #4D5737;
    text-align: center;
    font-family: Post No Bills Colombo ExtraBold;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }